<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model ML</title>
</head>
<booy>
    <h1>MODEL ML</h1>

    <form>
        <b>
            Season : <input type="number" ,name='season' > 
            <br>
            <br>
            Weather : <input type="number" ,name='weather'> 
            <br>
            <br>
            Temp : <input type="number" ,name='temp' > 
            <br>
            <br>
            Humidity : <input type="number" ,name='humidity' > 
            <br>
            <br>
            Windspeed : <input type="number" ,name='windspeed' > 
            <br></b>
            <br>
            <input type="submit" , value="predict" >

            <p>The 'count' Prediction is : </p>
            {{data}}
            
    </form>

        </b>
    </form>


</body>
</html>